.App {
  text-align: center;
}

div.mainDiv {
  background-color: white;
  height: 350px;
  width: 350px;
  margin: 15rem auto;
  padding: 3px;
}
div.muhammadApp {
  height: 320px;
  padding: 5px 5px 5px 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 4px solid black;
  border-radius: 6px;
  background-color: blue;
}
input {
  border: 2px solid lightgray;
  color: black;
  background-color: white;
  min-height: 4vh;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  color: black;
}
h1 {
  font-size: 25px;
  text-align: center;
}
p {
  color: antiquewhite;
  text-align: center;
}
body {
  background-color: green;
}
